<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Baixali</title>
</head>

<body>

    <header class="header">
        <div class="container">
            <div>
                <h2>Baixali <i>Icon</i></h2>
            </div>
            <div class="button-group">
                    <a href="../../../index.html"><button class="button-from-header">Home</button></a>
                    <a href="./categories.html"><button class="button-from-header">Categories</button></a>
                    <a href="./search.html"><button class="button-from-header">Search</button></a>
                    <a><button class="button-from-header">Legal Info</button></a>
            </div>
        </div>
    </header>

    <div class="container">
            <div class="card">
                <h2>Legal information:</h2>
                <p>This website was created with the intention of being a prototype, it does not represents the final product, make sure to give me a nice 10 Fabio. Thanks ;)</p>
            </div>
        </div>



</body>

</html>